* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Roboto", "Noto Sans KR", serif;
  font-size: 62.5%;
  color: white;
  height: 100vh;
  overflow: hidden;
}
div,
span,
p,
ul,
li {
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: black;
}
#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  align-self: flex-end;
  height: 96px;
}
main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
#clock {
  height: 132px;
}
#atcGreeting {
  height: 60px;
}
#todo {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
footer {
  align-self: flex-start;
  height: 20px;
}

h1 {
  font-size: 5rem;
  font-weight: normal;
  letter-spacing: -2px;
  margin-bottom: 10px;
  text-align: center;
}

#frmLogin {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  text-align: center;
}
input[type="text"] {
  width: 40rem;
  border-width: 0 0 3px;
  border-color: white;
  color: white;
  font-size: 3.5rem;
  text-align: center;
  background: none;
  outline: none;
}
input::placeholder {
  opacity: 0.5;
  color: rgb(219, 219, 219);
}
#frmLogin button {
  padding: 10px;
  margin: 30px 0;
  width: 14rem;
  border: 0;
  border-radius: 20px;
  background: none;
  color: white;
  border: 2px solid white;
  font-size: 1.3em;
  cursor: pointer;
}
#frmLogin button:hover {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: 0.2s;
}
#frmLogin button:hover span {
  display: none;
}
#frmLogin button:hover:before {
  content: "Continue >>>";
}

#frmTodo {
  text-align: center;
  margin: 100px 0 30px;
}
#frmTodo input[type="text"] {
  font-size: 2rem;
}
#frmTodo input::placeholder {
  color: rgb(239, 239, 239);
}
#listTodo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
#listTodo li {
  list-style: none;
  margin: 5px 5px;
  font-size: 2rem;
  padding: 5px 10px;
}
#listTodo li button {
  margin-left: 10px;
  border: 0;
  background: none;
  filter: opacity(30%);
}
#listTodo li button:hover {
  filter: opacity(100%);
}

#clock {
  text-align: center;
  font-size: 11rem;
  font-weight: 500;
  letter-spacing: -3px;
  margin-top: 15vh;
  text-shadow: 4px 4px 0px rgba(58, 58, 58, 0.4);
}

#weather {
  font-size: 1.3rem;
  width: 130px;
  height: 76px;
  padding: 0 10px 10px 10px;
  margin: 10px;
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  text-align: center;
}
#weather img {
  width: 50px;
  height: 50px;
}
#weather span.deg {
  font-size: 2rem;
}
#weather span.degFeel {
  grid-column: 1/3;
}
#divLoading {
  padding-top: 20px;
  text-align: center;
}

.glassBox {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 20px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.hidden {
  display: none;
}
/*
body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -99;

  content: url(../asset/0.webp) url(../asset/1.webp) url(../asset/2.webp)
    url(../asset/3.webp) url(../asset/4.webp) url(../asset/5.webp);
}
*/
#dialogContainer {
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(33, 39, 42, 0.7);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  color: salmon;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: top 0.5s cubic-bezier(0.7, -0.4, 0.4, 1.4);
  /*animation: 0.4s cubic-bezier(0.7, -0.4, 0.4, 1.4) 0s 1 normal none running
    jgQpwH;*/
}

#logout {
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 10px;
  cursor: pointer;
}
#dialogContainer button {
  width: 80px;
  padding: 5px 0;
  margin: 20px 5px;
  cursor: pointer;
  color: white;
  font-weight: 700;
  background-color: salmon;
  border-radius: 5px;
  border: 0 solid salmon;
}
#dialogContainer button:hover {
  background-color: indianred;
}

#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#video {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  bottom: 0;
  z-index: -2;
}

#back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* background-image: linear-gradient(45deg, rgb(55, 55, 55) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, rgb(55, 55, 55) 25%),
    linear-gradient(-45deg, rgb(55, 55, 55) 25%, transparent 25%),
    linear-gradient(-45deg, transparent 75%, rgb(55, 55, 55) 75%);
  background-size: 2px 2px;
  background-position: 0 0, -20px 20px, 0 -20px, 20px 0; */

  background: conic-gradient(
    rgb(55, 55, 55) 25%,
    rgb(55, 55, 55, 0.1) 25% 50%,
    rgb(55, 55, 55) 50% 75%,
    rgb(55, 55, 55, 0.1) 75%
  );
  background-size: 2px 2px;
}
